<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Proyect NODE</title>
  <%- include("partials/head.ejs")%>
</head>
<body>
  <%- include("partials/navigation.ejs")%>
  <h1 class="text-center">Hello world</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore nostrum, saepe autem nesciunt, excepturi sapiente reprehenderit cum vel, fuga delectus vero deserunt sed molestiae quam? Facilis nisi iure expedita, saepe nobis necessitatibus sint quo. Dicta necessitatibus eos nobis in sequi? Obcaecati sint veniam voluptatibus sunt quos amet quaerat quo placeat, maxime, ratione doloribus et rerum soluta sequi laborum voluptatem! Sed libero, unde dolore officiis eveniet dolorem eaque ullam odio rem reprehenderit. Commodi corporis odio suscipit, fugiat, nam voluptatibus hic similique molestiae ab quae reprehenderit animi repellat iusto adipisci nemo recusandae aperiam error beatae blanditiis necessitatibus a quos cumque excepturi! Excepturi, nam et maxime distinctio voluptas accusantium libero aspernatur possimus rerum delectus modi tempore, fuga ipsa consequuntur est. Molestias unde sed ex! Magni dolorum sunt delectus alias repellendus unde odit doloremque distinctio? Est iste explicabo culpa labore reprehenderit, aliquid commodi sed magni odio illo libero quibusdam sit nisi quasi? Nam deleniti ipsam, architecto neque tenetur iure magni minus dignissimos ab rem consequuntur in aspernatur porro eos non voluptatibus! Necessitatibus in numquam nostrum aut maiores nemo deleniti voluptas eaque recusandae molestias? Molestias error facilis debitis qui aspernatur dolore iusto quod rerum quos maiores architecto vitae reprehenderit, veritatis sapiente quisquam, eius, voluptatibus dolores.</p>
</body>
</html>